<!-- Start STUDENT PAGE CONTENT -->
<section class="content-student">
    <div class="container">
        <h4 class="sec-bg text text-center main-h font-weight-bold">اهلا {{name}}</h4>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center" *ngFor="let teacher of AllTeachers">
                <div class="position-relative main-bg content">
                    <i class="fas fa-bell position-absolute"></i>
                    <div class="teacher-img position-absolute">
                        <img [src]="teacher.image" alt="teacher edu img" class="rounded-circle img-fluid">
                    </div>
                    <p class="teacher-name mt-4" style="background-color: #41bf60;">{{teacher.name}}</p>
                    <p class="subject-name" style="background-color:#599a69">{{teacher.phone}}</p>
                    <div class="choose">
                        <button class="d-inline-block sec-bg" style="padding: 4px 50px; border-radius: 186px;font-size: 20px;border: none;" data-toggle="modal" data-target="#exampleModal6"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal 6-->
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="border:none">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
            </div>
            <div class="model-btn text-center mb-4">
                <button class="d-inline-block sec-bg " disabled>غرفه التدريس</button>
                <button class="d-inline-block sec-bg " disabled>المذكرات</button>
                <a href="#" class="d-inline-block btn-danger" data-toggle="modal" data-target="#exam">الامتحانات </a>
                <a href="result.html" class="d-inline-block sec-bg">النتيجه </a>
            </div>
        </div>
    </div>
</div>


<!-- Modal 7-->
<div class="modal fade" id="exam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header" style="border:none">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body text-center">
                <h4 class="main-color font-weight-bold mb-4">الامتنحان الاول لللغه العربيه</h4>
                <P>مده الامتحان ساعه</P>
                <P>يبدا الامتحان يوم 20 اكتوبر الساعه 8 صباحا</P>
                <P>برجاء الاهتمام بتقسيم الوقت علي الامتحان و التركيز اثناء الحل</P>
            </div>
            <div class="modal-footer text-center mb-2" style="border:none">
                <a [routerLink]="['/exam']" class="btn btn-danger d-block" id="startExamBtn" (click)=(hide())>ابدا</a>
            </div>
        </div>
    </div>
</div>