<!--********************************* Start Question Bank Page *********************************-->
<section class="question-bank">
    <div class="container">
        <h4 class="sec-bg text text-center main-h">بنك الاسئله</h4>
        <div class="first d-flex justify-content-between mb-5">
            <a href="build-question.html" class="bulid-exam" routerLink="regisgerQuestion">انشاء سؤال <i class="far fa-edit"></i></a>
        </div>
        <div class="question_row d-flex justify-content-between justify-content-center mb-3 main-bg" *ngFor='let question of questions'>
            <p class="text-white mb-0" style="padding: 10px 30px;">{{question.question}}</p>
            <a href="#">تعديل <i class="far fa-edit"></i></a>
            <a href="#" data-toggle="modal" data-target="#deleteQuestion" (click)=getId(question.id)>حذف <i class="far fa-trash-alt"></i></a>
        </div>
    </div>
</section>



<!-- Modal -->
<div class="modal fade" id="deleteQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="border:none">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body text-center">
                <h4 class="main-color font-weight-bold mb-4 main-h">هل تريد حقا حذف السؤال ؟؟</h4>
            </div>
            <div class="choose choose-exam text-center mb-4">
                <a href="#" class="d-inline-block btn-danger" data-toggle="modal" data-target="#exampleModal8" (click)=deleteQuestion()>نعم </a>
                <a href="#" class="d-inline-block sec-bg" data-dismiss="modal"> رجوع </a>
            </div>
        </div>
    </div>
</div>