<!--Start Navbar -->
<nav class="navbar navbar-expand-lg navbar-light text-center main-bg">
    <div class="container">
        <a routerLink="home" class="navbar-brand"><img src="../../../assets/لوجو.png" alt="Edu up logo"> <span class="text-danger"></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="outline: none;">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link sec-color" routerLink="home">الصفحة الرئيسية<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sec-color" routerLink="home">اتصل بنا</a>
                </li>
                <li class="nav-item dropdown" *ngIf="! _AuthService.isLoggedIn()">
                    <a class="btn btn-outline-warning main-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    تسجيل الدخول
                 </a>
                </li>
                <li class="nav-item dropdown" *ngIf="_AuthService.isLoggedIn()">
                    <a class="btn btn-outline-warning main-btn" href="#" (click)="logOut()">
                    تسجيل الخروج
                 </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- End Navbar -->