<!--start Fixed Menu-->
<div class="fixed-menu position-fixed text-center">
    <h3 class="font-weight-bold sec-color" routerLink="mainlinks" style="cursor:pointer">لوحه التحكم</h3>
    <button class="sec-bg admin-link" id="sign-teacher" routerLink="teachersignup">تسجيل مدرس</button>
    <button class="sec-bg admin-link" id="sign-student" routerLink="studsignup">تسجيل طالب</button>
    <button class="sec-bg admin-link" id="sign-exam" routerLink="buildExam">تسجيل امتحان</button>
    <button class="sec-bg admin-link" id="all-teachers" routerLink="alLteachers"> المدرسين</button>
    <button class="sec-bg admin-link" id="all-student" routerLink="allStudent">الطلاب </button>
    <button class="sec-bg admin-link" id="question-bank" routerLink="questionsBand">بنك الاسئله </button>
    <button class="sec-bg admin-link" id="all-exams" routerLink="allExams">جميع الامتحانات </button>
</div>


<div class="sec-nav text-right p-2 d-flex align-itms-center" style="background-color:  #222; cursor: pointer">
    <i class="fas fa-bars skin-color sec-color"></i>
    <p class="text-center d-inline-block mr-auto ml-auto mb-0 p-2" style="color: #fff;">اهلا ادمن</p>
</div>
<!--End Fixed Menu-->