<!-- *********************************Start Main Dashboard ********************************* -->
<section>
    <div class="container text-right">
        <div class="row">
            <div class="col-lg-3  pb-4 text-white position-relative">
                <!-- small box -->
                <div class="small-box bg-warning p-2 text-white sec-bg p-2 pr-3 d-flex align-items-center" style="padding: 30px 20px !important; cursor: pointer;" routerLink="allStudent">
                    <p>جميع الطلاب </p>
                    <div class="icon position-absolute" style="left: 45px; top: 22px;">
                        <i class="fas fa-users" style="font-size: 40px;"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3  mb-4">
                <!-- small box -->
                <div class="small-box main-bg p-2 pr-3 text-white position-relative d-flex align-items-center" style="padding: 30px 20px !important; cursor: pointer;" routerLink="./alLteachers">
                    <div class="inner">
                        <p>جميع المدرسن</p>
                    </div>
                    <div class="icon position-absolute" style="left: 45px; top: 22px;">
                        <i class="fas fa-user-tie" style="font-size: 40px;"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3  mb-4 text-white">
                <!-- small box -->
                <div class="small-box sec-bg p-2 pr-3 position-relative d-flex align-items-center" style="padding: 30px 20px !important; cursor: pointer;" routerLink="allExams">
                    <div class="inner">
                        <p>جميع الامتحانات</p>
                    </div>
                    <div class="icon position-absolute" style="left: 45px; top: 22px;">
                        <i class="fas fa-file-signature" style="font-size: 40px;"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3  mb-4 text-white">
                <!-- small box -->
                <div class="small-box main-bg p-2 pr-3 position-relative d-flex align-items-center" style="padding: 30px 20px !important; cursor: pointer;" routerLink="questionsBand">
                    <div class="inner">
                        <p>جميع الاسئله</p>
                    </div>
                    <div class="icon position-absolute" style="left: 45px; top: 22px;">
                        <i class="fas fa-question" style="font-size: 40px;"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
</section>
<!-- *********************************End Main Dashboard ********************************* -->