<!-- Start Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center first">
                <img src="../assets/لوجو.png" alt="edu up footer" class="img-fluid">
                <p class="sec-color font-weight-bold">نسعي لمستقبل افضل <br>للتعليم في مصر</p>
            </div>
            <div class="col-md-4 text-center d-flex align-items-center justify-content-center sec">
                <ul class="list-unstyled">
                    <li><a>الصفحة الرئيسية</a> </li>
                    <li><a>نبذه عنا </a></li>
                    <li><a>تواصل معنا </a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center d-flex align-items-center justify-content-center ">
                <div class="social mt-3 ">
                    <ul class="list-unstyled mb-4 pr-0 ">
                        <li class="d-inline "> <i class="fab fa-facebook-f " style="color: #3b5998; "></i></li>
                        <li class="d-inline "> <i class="fab fa-whatsapp " style="color: #128c7e; "></i></li>
                        <li class="d-inline "> <i class="fab fa-youtube " style="color: #ff0000; "></i></li>
                    </ul>
                    <ul class="list-unstyled pr-0 ">
                        <li class="d-inline-block "> <i class="fab fa-github " style="color: #4078c0; "></i></li>
                        <li class="d-inline "><i class="fab fa-linkedin-in " style="color: #0077b5; "></i></li>
                        <li class="d-inline "> <i class="fab fa-twitter " style="color: #1da1f2; "></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy text-center ">
        <p class="sec-color ">2020 || Up Edu @ جميع الحقوق محفوطه لدي منصة</p>
    </div>
</footer>
<!-- End Footer -->